# Docker user settings
USER_UID=
USER_GID=

# Postgres credentials
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# General settings
LOG_LEVEL=

# Api settings
API_KEY=
API_HOST=
API_PORT=
