################################################
############### Project settings ###############
################################################

PYTHON_IMAGE=python:3.12.1-alpine
POSTGRES_IMAGE=postgres:16
RABBITMQ_IMAGE=rabbitmq:3.12-management

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USERNAME=
AMQP_PASSWORD=
AMQP_VIRTUAL_HOST=
AMQP_SEARCH_TASK_QUEUE=search_tasks
AMQP_SEARCH_RESULT_QUEUE=search_results
AMQP_SEARCH_REPLY_QUEUE=search_replies
